<MudCard>
    <div class="overlay d-flex flex-column justify-content-center align-items-center p-3">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="mb-3" />
        <MudText Typo="Typo.h5">@Label</MudText>
    </div>
</MudCard>
